<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>可复用的directive组件</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.2.16/angular.min.js"></script>
</head>

<body ng-controller="DemoController">
    <form name="form">
        Model value:<input type="text" size="3" ng-model="rating"><br>
        Min value:<input type="text" size="3" ng-model="minRating"><br>
        Max value:<input type="text" size="3" ng-model="maxRating"><br>
        <hr>
        <div min="minRating" max="maxRating" ng-model="rating" rn-stepper></div>
    </form>
    <script type="text/javascript">
    angular.module('app', ['revolunet.stepper'])
        .controller('DemoController', function($scope){
            $scope.rating=42;
            $scope.minRating=40;
            $scope.maxRating=50;
        });
    angular.module('revolunet.stepper', [])
    .directive('rnStepper', function(){
        // Runs during compile
        return {
            // name: '',
            // priority: 1,
            // terminal: true,
            scope: {}, // {} = isolate, true = child, false/undefined = no change
            // controller: function($scope, $element, $attrs, $transclude) {},
            // require: 'ngModel', // Array = multiple requires, ? = optional, ^ = check parent elements
            restrict: 'AE', // E = Element, A = Attribute, C = Class, M = Comment
            template: '<button ng-click="decrement()">-</button>'+'<div>{{value}}</div>'+'<button ng-click="increment()">+</button>',
            // templateUrl: '',
            // replace: true,
            // transclude: true,
            // compile: function(tElement, tAttrs, function transclude(function(scope, cloneLinkingFn){ return function linking(scope, elm, attrs){}})),
            link: function($scope, iElm, iAttrs, controller) {
                $scope.value = 0;
                $scope.increment = function(){
                    $scope.value++;
                };
                $scope.decrement = function(){
                    $scope.value--;
                };
            }
        };
    });    
    </script>
</body>

</html>
