<html ng-app="app">

<head>
    <title>ng-repeat orderBy排序demo</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.2.16/angular.min.js"></script>
</head>

<body>
    <div ng-controller='ctl'>
        Search:
        <input ng-model="query"> Sort by:
        <select ng-model="order">
            <option value="name">name</option>
            <option value="age">age</option>
        </select>
        <ul>
            <li ng-repeat="person in persons | filter:query | orderBy:order">
                {{person.name}} {{person.age}}
            </li>
        </ul>
    </div>
    <script>
    angular.module('app', []).controller('ctl', function($scope) {
        $scope.persons = [{
            "name": "xingoo",
            "age": 25
        }, {
            "name": "zhangsan",
            "age": 18
        }, {
            "name": "lisi",
            "age": 20
        }, {
            "name": "wangwu",
            "age": 30
        }];
        $scope.order = "age";
    })
    </script>
</body>

</html>
